table,
th,
td {
   border: 3px solid grey;
   border-collapse: collapse;
   padding: 5px;
   
}

table tr:nth-child(odd) {
   background-color: #f2f2f2;
}

table tr:nth-child(even) {
   background-color: #ffffff;
}
body{
    background-image: url('5570834.jpg');
    background-size: cover;
}
h3{
    color:#00ccff;
}
h2{
    align-content: center;
}